body {
    background: rgb(214, 134, 30);
    font: normal 15pt Arial;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
}

section {
    background: rgb(179, 173, 173);
    border-radius: 18px;
    padding: 15px;
    width: 600px;
    height: 300px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(191, 194, 0);
}


footer {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic; 
    padding: 10%;
}